<div class="container">
    <div class="content">
    <div class="row">
        <div class="col-lg-3"><!-- left side begin-->
          <div class="well">
            <ul class="nav nav-list">
              <li class="nav-header info">  
                <div class="photo"><img src="./img/index/me.png" /></div>
                <a class ="title">教师 XXX</a>
                <a class ="details">XXXX</a>
              </li>
              <li class="active">
                <a href="#"><i class="icon-white icon-home"></i> 签到   周一  </a>
              </li>
              <li class="divider"></li>

              <li class="active">
                <a href="#"><i class="icon-white icon-home"></i>我的荣誉</a>
                <a href="#"><i class="icon-folder-open"></i> 乐豆</a>
                <a href="#"><i class="icon-check"></i> 等级</a>
                <a href="#"><i class="icon-envelope"></i> 勋章</a>
              </li>
            
              <li class="divider"></li>

              <li class="divider"></li>

              <li class="active">
                <a href="#"><i class="icon-white icon-home"></i>我的班级</a>
                <a href="#"><i class="icon-folder-open"></i> 初中2012级2班</a>
                <a href="#"><i class="icon-check"></i> 初中2012级2班</a>
                <a href="#"><i class="icon-envelope"></i> 初中2012级2班</a>
              </li>

              <li class="divider"></li>

              <li class="active">
                <a href="#"><i class="icon-white icon-home"></i>我的应用</a>
                <a href="#"><i class="icon-folder-open"></i> XXX</a>
                <a href="#"><i class="icon-check"></i> XXX</a>
                <a href="#"><i class="icon-envelope"></i> XXX</a>
              </li>

              <li class="divider"></li>

              <li class="active">
                <a href="#"><i class="icon-white icon-home"></i>我的荣誉</a>
                <a href="#"><i class="icon-folder-open"></i> 乐豆</a>
                <a href="#"><i class="icon-check"></i> 等级</a>
                <a href="#"><i class="icon-envelope"></i> 勋章</a>
              </li>

              <li class="divider"></li>

              <li class="nav-header">
                我的好友
              </li>
              <li>
                <a href="#"><i class="icon-picture"></i> Mike</a>
              </li>
              <li>
                <a href="#"><i class="icon-stop"></i> Lucy</a>
              </li>
            </ul>
          </div>
        </div> <!-- left side end-->

        <div class="col-lg-9"> <!-- content side begin-->
          <h1>Dashboard</h1>
          <div class="hero-unit">
            <h1>Welcome!</h1>
            <p>欢迎来到情景英语:)</p>
            <p>
              <a href="#" class="btn btn-primary btn-large">Start Tour</a> 
              <a class="btn btn-large">No Thanks</a>
            </p>
          </div>
          <div class="well summary">
            <ul>
              <li><a href="#"><span class="count">3</span> 好友</a></li>
              <li><a href="#"><span class="count">27</span> 任务</a></li>
              <li><a href="#"><span class="count">7</span> 信息</a></li>
              <li class="last"><a href="#"><span class="count">5</span> 文件</a></li>
            </ul>
          </div>
          <h2>Recent Activity</h2>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>课程</th><th>作业</th><th>类型</th><th>日期</th><th>完成</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>牛津英语</td><td>unit1</td><td>New Task</td><td>4 days ago</td>
                <td><a href="#" class="view-link">View</a></td>
              </tr>
              <tr>
                <td>牛津英语</td><td>unit1</td><td>New Task</td><td>4 days ago</td>
                <td><a href="#" class="view-link">View</a></td>
              </tr>
              <tr>
                <td>牛津英语</td><td>unit1</td><td>New Task</td><td>4 days ago</td>
                <td><a href="#" class="view-link">View</a></td>
              </tr>
              <tr>
                <td>牛津英语</td><td>unit1</td><td>New Task</td><td>4 days ago</td>
                <td><a href="#" class="view-link">View</a></td>
              </tr>
              <tr>
                <td>牛津英语</td><td>unit1</td><td>New Task</td><td>4 days ago</td>
                <td><a href="#" class="view-link">View</a></td>
              </tr>
            </tbody>
          </table>
        </div>  <!-- content side begin-->
      </div>
     </div>
    </div>
      <!-- Start Footer -->
      <footer>
        <div id="templatemo_footer" class="container_wapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Copyright © 2014 同方知好乐教育科技有限公司 - 中小学情景英语</p>
                    </div>
                </div>
            </div>
        </div>
      </footer>
      <!-- End Footer -->
    </div>